In [3]:
S='aaaaaaaaaaaa'

In [4]:
len(S)

12

In [7]:
for i in range(0,len(S),2):
    print(i)

0
2
4
6
8
10

In [8]:
N,K=map(int,input().split())

314 2

In [19]:
N=314

In [20]:
g2 = int(''.join(sorted(str(N))))
g1 = int(''.join(sorted(str(N), reverse = True)))

In [21]:
g1

431

In [22]:
g2

134

In [23]:
f=g1-g2

In [24]:
f

297

In [42]:
g2_0 = int(''.join(sorted(str(N))))
g1_0 = int(''.join(sorted(str(N), reverse = True)))
n=g1-g2

In [43]:
n

297

In [51]:
def fx(n):
    g2= int(''.join(sorted(str(n))))
    g1=int(''.join(sorted(str(n), reverse = True)))
    n=g1-g2
    
    return n

In [52]:
if K==0:
    pass
else:
    while K >0:
        K-=1
        n = fx(n)

In [49]:
K

2

In [53]:
n

693

In [55]:
int('2',3)

2

In [75]:
X=str(input())

22

In [82]:
M=int(input())

10

In [76]:
d=''.join(sorted(str(X), reverse = True))

In [88]:
d=d[0]
d=int(d)

In [65]:
# n_ary.py
 
...
 
import string
numbers = "0123456789"
alphabets = string.ascii_letters # a-z+A-Zをロード
characters = numbers + alphabets
 
def base_cvt(value, n=2):
    try:
        tmp = int(value)
    except:
        raise ValueError('Invalid value:', value)
 
    if n < 2 or n > len(characters):
        raise ValueError('Invalid n:', value)
 
    result = ''
    tmp = int(value)
    while tmp >= n:
        idx = tmp%n
        result = characters[idx] + result
        tmp = int(tmp / n)
    idx = tmp%n
    result = characters[idx] + result
    return result

In [70]:
base_cvt(X, n=4)

'112'

In [73]:
count=int('112',4)

22

In [92]:
count=0

if d+1<M:

    for i in range(d+1,M):
        temp=int(X,i)
        if temp <= M:
            count+=1

else:
    for i in range(M,d+1):
        temp=int(X,i)
        if temp <= M:
            count+=1
            
print(count)

2

In [85]:
int(X,19)

40

In [93]:
def Base_n_to_10(X,n):
    out = 0
    for i in range(1,len(str(X))+1):
        out += int(X[-i])*(n**(i-1))
    return out#int out

In [95]:
 Base_n_to_10(X,4)

10

In [98]:
d=''.join(sorted(str(345), reverse = True))

In [99]:
d

'543'

In [100]:
d=d[0]
d=int(d)

In [101]:
d

5